/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6m;
  font-size: 62.5%;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1140px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* creating varible to store some default value to the css */

:root {
  --dark-black: #000000;
  --lite-black: #424242;
  --white: #f5f5f5;
  --main-font-family: "Orbitron", sans-serif;
  --sub-font-family: "Poppins", sans-serif;
}
/* styling the nav menu */

.list {
  display: flex;
  gap: 3.5rem;
  font-size: 1.8rem;
  list-style-type: none;
  font-family: var(--main-font-family);
}

.navbar-container div img {
  height: 4.4rem;
}

/* styling and aliging the nav content */

.navbar-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  padding: 2.5rem 3rem 7rem 3rem;
}

/*putting the ACTIVE nav menu  */

.list :nth-child(1) {
  font-weight: 900;
  position: relative;
}

.list :nth-child(1)::after {
  content: "";
  width: 4.8rem;
  height: 0.2rem;
  background-color: var(--dark-black);
  position: absolute;
  top: 2.3rem;
  left: 0.5rem;
  border-radius: 2rem;
}

/* creating the alignment insite between search icon and search Button field */
.button-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/* styling the NAV Button */

.nav-button {
  padding: 1rem 3rem 1rem 3rem;
  background-color: #00000000;
  border: 0.3rem solid;
  border-radius: 1rem;
  width: 17rem;
}

.search-icon svg {
  height: 2.5rem;
}
/* Hero Section container all the hero content */

.hero-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 150rem;
}
/* Hero section Right container which contain all the text */
.hero-container-right {
  display: flex;
  gap: 6rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
